Repository Xilinx/mlir-aie, changes with the owners that .github/CODEOWNERS names for each.
All owners: @makslevental, @stephenneuendorffer, @denolf, @jgmelber, @fifield, @jsetoain, @abisca, @jackl-xilinx, @eddierichter-amd, @erieaton-amd, @newling

.github/CODEOWNERS:

.github             @makslevental @stephenneuendorffer
aie_kernels/        @denolf @jgmelber @fifield
aie_runtime_lib/    @stephenneuendorffer
cmake/              @denolf @stephenneuendorffer
docs/               @stephenneuendorffer
**/ADF/             @stephenneuendorffer
**/AIEVec/          @jsetoain
**/AIE/             @abisca @stephenneuendorffer @fifield @makslevental
**/AIEX/            @makslevental @jgmelber @abisca
**/XLLVM/           @jsetoain
**/AIETargetModel.* @stephenneuendorffer @makslevental
lib/CAPI            @makslevental
lib/Conversion/AIEVecToLLVM/  @jsetoain
lib/Target/LLVMIR/  @jsetoain
lib/Targets/        @makslevental
mlir_tutorials/     @denolf @jackl-xilinx @abisca @fifield
platforms/          @jackl-xilinx @eddierichter-amd
programming_examples/ @denolf @jgmelber @fifield
python/             @makslevental
reference_designs/  @denolf @jgmelber @fifield
runtime_lib/        @stephenneuendorffer
test/aie2xclbin/    @erieaton-amd @newling
test/aievec/        @jsetoain
test/python/        @makslevental 
test/objectFifo*/   @abisca
tools/              @stephenneuendorffer @makslevental
tools/aie2xclbin/   @erieaton-amd @newling
tutorials/          @denolf
utils/              @makslevental @jackl-xilinx @jgmelber

Moved test_utils.py to utils/test.py (#1267)
  programming_examples/basic/eltwise_exp/test.py
  programming_examples/basic/eltwise_mul/test.py
  programming_examples/basic/passthrough_kernel/Makefile
  programming_examples/ml/eltwise_add/test.py
  programming_examples/ml/vector_softmax/aie2.py
  programming_guide/section-3/test.py
  programming_guide/section-3/test_3.py
  programming_guide/section-4/README.md
  programming_guide/section-4/test.py
  programming_guide/section-4/test_trace.py
  python/CMakeLists.txt
  python/utils/ml.py
  python/utils/test.py
  python/utils/trace.py
  python/utils/xrt.py
  utils/build-mlir-aie.sh
Owners: @denolf, @jgmelber, @fifield, @makslevental, @jackl-xilinx

Add design image and description
  programming_examples/basic/passthrough_kernel/README.md
  programming_guide/README.md
  programming_guide/assets/passthrough_simple.svg
Owners: @denolf, @jgmelber, @fifield

fix vision examples
  programming_examples/vision/color_detect/CMakeLists.txt
  programming_examples/vision/color_detect/Makefile
  programming_examples/vision/color_detect/run.lit
  programming_examples/vision/color_detect/test.cpp
  programming_examples/vision/color_threshold/CMakeLists.txt
  programming_examples/vision/color_threshold/run.lit
  programming_examples/vision/edge_detect/CMakeLists.txt
  programming_examples/vision/edge_detect/run.lit
  programming_examples/vision/passthrough/CMakeLists.txt
Owners: @denolf, @jgmelber, @fifield

Asplos section2d (#1228)
  programming_guide/assets/MultiDesign.svg
  programming_guide/assets/SingleDesign.svg
  programming_guide/section-2/section-2d/README.md
  programming_guide/section-2/section-2d/aie2.py
  programming_guide/section-2/section-2d/aie2_multi.py
Owners: none

[ASPLOS] Relu and Softmax fixes and clean up (#1266)
  programming_examples/ml/relu/run.lit
  programming_examples/ml/relu/test.cpp
  programming_examples/ml/vector_softmax/run.lit
  programming_examples/ml/vector_softmax/test.cpp
Owners: @denolf, @jgmelber, @fifield

Moved test_utils.py to utils/test.py
  programming_examples/basic/eltwise_exp/test.py
  programming_examples/basic/eltwise_mul/test.py
  programming_examples/ml/eltwise_add/test.py
  python/CMakeLists.txt
  python/test_utils.py
  python/utils/ml.py
  python/utils/test.py
  python/utils/trace.py
  python/utils/xrt.py
Owners: @denolf, @jgmelber, @fifield, @makslevental, @jackl-xilinx

fixed typo
  programming_examples/basic/passthrough_kernel/README.md
Owners: @denolf, @jgmelber, @fifield
