Repository Xilinx/mlir-aie, changes with the owners that .github/CODEOWNERS names for each.
All owners: @makslevental, @stephenneuendorffer, @denolf, @jgmelber, @fifield, @jsetoain, @AndraBisca, @jackl-xilinx, @eddierichter-amd

.github/CODEOWNERS:

.github             @makslevental @stephenneuendorffer
aie_kernels/        @denolf @jgmelber @fifield
aie_runtime_lib/    @stephenneuendorffer
cmake/              @denolf @stephenneuendorffer
docs/               @stephenneuendorffer
**/ADF/             @stephenneuendorffer
**/AIEVec/          @jsetoain
**/AIE/             @AndraBisca @stephenneuendorffer @fifield @makslevental
**/AIEX/            @makslevental @jgmelber @AndraBisca @fifield
**/XLLVM/           @jsetoain
**/AIETargetModel.* @stephenneuendorffer @makslevental
lib/CAPI            @makslevental
lib/Conversion/AIEVecToLLVM/  @jsetoain
lib/Target/LLVMIR/  @jsetoain
lib/Targets/        @makslevental
mlir_tutorials/     @denolf @jackl-xilinx @AndraBisca @fifield
platforms/          @jackl-xilinx @eddierichter-amd
programming_examples/ @denolf @jgmelber @fifield
python/             @makslevental @AndraBisca
reference_designs/  @denolf @jgmelber @fifield
runtime_lib/        @stephenneuendorffer
test/               @stephenneuendorffer @jgmelber @fifield @jackl-xilinx
test/aievec/        @jsetoain
test/python/        @makslevental @AndraBisca
test/objectFifo*/   @AndraBisca
tools/              @stephenneuendorffer @makslevental
utils/              @makslevental @jackl-xilinx @jgmelber

add skeleton of aie to txn pass
  include/aie/Conversion/AIEToTransaction/AIEToTransaction.h
  include/aie/Conversion/Passes.h
  include/aie/Conversion/Passes.td
  include/aie/Dialect/AIEX/Transforms/AIEXPasses.h
  lib/CAPI/CMakeLists.txt
  lib/Conversion/AIEToTransaction/AIEToTransaction.cpp
  lib/Conversion/AIEToTransaction/CMakeLists.txt
  lib/Conversion/CMakeLists.txt
  lib/Conversion/PassDetail.h
  tools/aie-opt/CMakeLists.txt
Owners: @makslevental, @jgmelber, @AndraBisca, @fifield, @stephenneuendorffer

rename
  include/aie/Conversion/AIEToConfiguration/AIEToConfiguration.h
  include/aie/Conversion/Passes.h
  lib/CAPI/CMakeLists.txt
  lib/Conversion/AIEToConfiguration/AIEToConfiguration.cpp
  lib/Conversion/AIEToConfiguration/CMakeLists.txt
  lib/Conversion/CMakeLists.txt
  tools/aie-opt/CMakeLists.txt
Owners: @makslevental, @stephenneuendorffer

initial cut-n-paste, plus some license updates
  include/aie/Conversion/CMakeLists.txt
  lib/Conversion/AIEToTransaction/AIEToTransaction.cpp
  lib/Conversion/AIEToTransaction/CMakeLists.txt
  lib/Conversion/AIEVecToLLVM/CMakeLists.txt
  lib/Conversion/CMakeLists.txt
Owners: @jsetoain

make it work
  include/aie/Conversion/Passes.td
  include/aie/Targets/AIETargets.h
  lib/Conversion/AIEToTransaction/AIEToTransaction.cpp
  lib/Dialect/AIEX/IR/AIEXDialect.cpp
  lib/Targets/AIETargetNPU.cpp
  lib/Targets/AIETargets.cpp
  python/compiler/aiecc/main.py
  test/npu-xrt/add_one_two_txn/run.lit
Owners: @makslevental, @jgmelber, @AndraBisca, @fifield, @stephenneuendorffer, @jackl-xilinx

Update aie2.py
  test/npu-xrt/nd_memcpy_transforms/aie2.py
Owners: @stephenneuendorffer, @jgmelber, @fifield, @jackl-xilinx

fixes after rebase
  lib/Conversion/AIEToConfiguration/AIEToConfiguration.cpp
  lib/Conversion/AIEToConfiguration/CMakeLists.txt
  lib/Targets/AIETargets.cpp
  python/compiler/aiecc/main.py
  test/npu-xrt/add_one_two_txn/run.lit
Owners: @makslevental, @AndraBisca, @stephenneuendorffer, @jgmelber, @fifield, @jackl-xilinx

Fix test requirements typo (#1764)
  test/npu-xrt/nd_memcpy_transforms/aie2.py
Owners: @stephenneuendorffer, @jgmelber, @fifield, @jackl-xilinx

clang-format
  include/aie/Targets/AIETargets.h
  lib/Conversion/AIEToConfiguration/AIEToConfiguration.cpp
  lib/Targets/AIETargetNPU.cpp
  lib/Targets/AIETargets.cpp
Owners: @makslevental

Offset calculation should be purely based on offsets and strides, not memref shape
  lib/Dialect/AIEX/IR/AIEXDialect.cpp
Owners: @makslevental, @jgmelber, @AndraBisca, @fifield

Add aie.device to transaction ops mlir pass (#1765)
  include/aie/Conversion/AIEToConfiguration/AIEToConfiguration.h
  include/aie/Conversion/CMakeLists.txt
  include/aie/Conversion/Passes.h
  include/aie/Conversion/Passes.td
  include/aie/Dialect/AIEX/Transforms/AIEXPasses.h
  include/aie/Targets/AIETargets.h
  lib/CAPI/CMakeLists.txt
  lib/Conversion/AIEToConfiguration/AIEToConfiguration.cpp
  lib/Conversion/AIEToConfiguration/CMakeLists.txt
  lib/Conversion/CMakeLists.txt
  lib/Conversion/PassDetail.h
  lib/Dialect/AIEX/IR/AIEXDialect.cpp
  lib/Targets/AIETargetNPU.cpp
  lib/Targets/AIETargets.cpp
  python/compiler/aiecc/main.py
  test/npu-xrt/add_one_two_txn/run.lit
  tools/aie-opt/CMakeLists.txt
Owners: @makslevental, @jgmelber, @AndraBisca, @fifield, @stephenneuendorffer, @jackl-xilinx

fix macro
  aie_kernels/aie2/mm.cc
  programming_examples/basic/matrix_multiplication/single_core/Makefile
  programming_examples/basic/matrix_multiplication/whole_array/Makefile
Owners: @denolf, @jgmelber, @fifield

Remove aie to txn from aie-translate and python binding
  include/aie-c/Translation.h
  include/aie/Conversion/AIEToConfiguration/AIEToConfiguration.h
  include/aie/Targets/AIETargets.h
  lib/CAPI/Translation.cpp
  lib/Conversion/AIEToConfiguration/AIEToConfiguration.cpp
  lib/Targets/AIERT.cpp
  lib/Targets/AIETargetCDODirect.cpp
  lib/Targets/AIETargets.cpp
  python/AIEMLIRModule.cpp
  python/dialects/aie.py
Owners: @makslevental, @AndraBisca

Unit test for more complicated offset calclulation
  test/Targets/NPU/npu_dma_memcpy.mlir
Owners: @stephenneuendorffer, @jgmelber, @fifield, @jackl-xilinx

Offset calculation should be purely based on offsets and strides (#1767)
  lib/Dialect/AIEX/IR/AIEXDialect.cpp
  test/Targets/NPU/npu_dma_memcpy.mlir
Owners: @makslevental, @jgmelber, @AndraBisca, @fifield, @stephenneuendorffer, @jackl-xilinx

Remove aie to txn from aie-translate and python binding (#1766)
  include/aie-c/Translation.h
  include/aie/Conversion/AIEToConfiguration/AIEToConfiguration.h
  include/aie/Targets/AIETargets.h
  lib/CAPI/Translation.cpp
  lib/Conversion/AIEToConfiguration/AIEToConfiguration.cpp
  lib/Targets/AIERT.cpp
  lib/Targets/AIETargetCDODirect.cpp
  lib/Targets/AIETargets.cpp
  python/AIEMLIRModule.cpp
  python/dialects/aie.py
Owners: @makslevental, @AndraBisca

Remove aie to ctrl pkt conversion from aie-translate
  include/aie-c/Translation.h
  include/aie/Targets/AIETargets.h
  lib/CAPI/Translation.cpp
  lib/Targets/AIETargetCDODirect.cpp
  lib/Targets/AIETargets.cpp
  python/AIEMLIRModule.cpp
  python/compiler/aiecc/main.py
  python/dialects/aie.py
Owners: @makslevental, @AndraBisca

Add convert-aie-to-control-packets pass
  include/aie/Conversion/AIEToConfiguration/AIEToConfiguration.h
  include/aie/Conversion/Passes.td
  lib/Conversion/AIEToConfiguration/AIEToConfiguration.cpp
  lib/Dialect/AIE/Transforms/AIEGenerateColumnControlOverlay.cpp
  lib/Targets/AIETargets.cpp
  python/compiler/aiecc/main.py
  test/npu-xrt/ctrl_packet_reconfig/aie2.mlir
  test/npu-xrt/ctrl_packet_reconfig/run.lit
  test/npu-xrt/ctrl_packet_reconfig/test.cpp
Owners: @AndraBisca, @stephenneuendorffer, @fifield, @makslevental, @jgmelber, @jackl-xilinx

Inline matmul functions and add support for different output types (#1763)
  aie_kernels/aie2/mm.cc
  programming_examples/basic/matrix_multiplication/single_core/Makefile
  programming_examples/basic/matrix_multiplication/whole_array/Makefile
Owners: @denolf, @jgmelber, @fifield

Small documentation fixes
  include/aie/Dialect/AIE/IR/AIEOps.td
Owners: @AndraBisca, @stephenneuendorffer, @fifield, @makslevental

Fix minor typo in function names
  include/aie/Dialect/AIE/IR/AIEOps.td
  lib/Dialect/AIE/IR/AIEDialect.cpp
  lib/Dialect/AIE/Transforms/AIEObjectFifoStatefulTransform.cpp
  lib/Dialect/AIEX/IR/AIEXDialect.cpp
Owners: @AndraBisca, @stephenneuendorffer, @fifield, @makslevental, @jgmelber

revert some changes in AIEOps.td
  include/aie/Dialect/AIE/IR/AIEOps.td
Owners: @AndraBisca, @stephenneuendorffer, @fifield, @makslevental

fix clang format
  lib/Dialect/AIE/IR/AIEDialect.cpp
Owners: @AndraBisca, @stephenneuendorffer, @fifield, @makslevental

Try to make dimensionsToStream and dimensionsFromStream nomenclature more consistent
  include/aie/Dialect/AIE/IR/AIEOps.td
  lib/Dialect/AIE/IR/AIEDialect.cpp
  test/dialect/AIE/roundtrip.mlir
  test/objectFifo-register-process/nd_dma_test_aie2.mlir
  test/objectFifo-stateful-transform/nd_dma_base_AIE2.mlir
  test/objectFifo-stateful-transform/nd_dma_distribute_AIE2.mlir
  test/objectFifo-stateful-transform/nd_dma_distribute_AIE2_bad.mlir
  test/objectFifo-stateful-transform/nd_dma_distribute_broadcast_AIE2.mlir
  test/objectFifo-stateful-transform/nd_dma_multiple_consumers_AIE2.mlir
  test/python/aie_ops.py
  test/python/objFifo_link.py
Owners: @AndraBisca, @stephenneuendorffer, @fifield, @makslevental, @jgmelber, @jackl-xilinx

add column-major matrix multiplication
  aie_kernels/aie2/mm_b_col_maj.cc
  programming_examples/basic/matrix_multiplication/common.h
  programming_examples/basic/matrix_multiplication/test.cpp
  programming_examples/basic/matrix_multiplication/whole_array/Makefile
  programming_examples/basic/matrix_multiplication/whole_array/aie2.py
  programming_examples/basic/matrix_multiplication/whole_array/run_makefile_col_maj.lit
Owners: @denolf, @jgmelber, @fifield

format
  programming_examples/basic/matrix_multiplication/whole_array/aie2.py
Owners: @denolf, @jgmelber, @fifield

update readme
  programming_examples/basic/matrix_multiplication/whole_array/README.md
Owners: @denolf, @jgmelber, @fifield

change one more instance of fromStream
  test/objectFifo-register-process/nd_dma_test_aie2.mlir
Owners: @AndraBisca

I believe this fixes offset bug
  programming_examples/basic/matrix_multiplication/cascade/aie2.py
Owners: @denolf, @jgmelber, @fifield

Move control packet translation from aie-translate to aie-opt (#1768)
  include/aie-c/Translation.h
  include/aie/Conversion/AIEToConfiguration/AIEToConfiguration.h
  include/aie/Conversion/Passes.td
  include/aie/Targets/AIETargets.h
  lib/CAPI/Translation.cpp
  lib/Conversion/AIEToConfiguration/AIEToConfiguration.cpp
  lib/Dialect/AIE/Transforms/AIEGenerateColumnControlOverlay.cpp
  lib/Targets/AIETargetCDODirect.cpp
  lib/Targets/AIETargets.cpp
  python/AIEMLIRModule.cpp
  python/compiler/aiecc/main.py
  python/dialects/aie.py
  test/npu-xrt/ctrl_packet_reconfig/aie2.mlir
  test/npu-xrt/ctrl_packet_reconfig/run.lit
  test/npu-xrt/ctrl_packet_reconfig/test.cpp
Owners: @makslevental, @AndraBisca, @stephenneuendorffer, @fifield, @jgmelber, @jackl-xilinx

fix column major validation; fix seed for reproducibility
  programming_examples/basic/matrix_multiplication/test.cpp
  programming_examples/basic/matrix_multiplication/whole_array/Makefile
Owners: @denolf, @jgmelber, @fifield

fix run.lit
  programming_examples/basic/matrix_multiplication/whole_array/run_makefile_col_maj.lit
Owners: @denolf, @jgmelber, @fifield

add end-to-end test of new BD chain syntax
  programming_examples/basic/matrix_multiplication/makefile-common
  programming_examples/basic/matrix_multiplication/single_core/Makefile
  programming_examples/basic/matrix_multiplication/single_core/aie2_alt.py
  programming_examples/basic/matrix_multiplication/single_core/run_makefile_alt.lit
  programming_examples/basic/matrix_multiplication/single_core/run_makefile_i8.lit
Owners: @denolf, @jgmelber, @fifield

update readme and remove misleading outdated comment
  aie_kernels/aie2/mm_b_col_maj.cc
  programming_examples/basic/matrix_multiplication/single_core/README.md
  programming_examples/basic/matrix_multiplication/whole_array/README.md
Owners: @denolf, @jgmelber, @fifield

Add column-major matrix multiplication (#1769)
  aie_kernels/aie2/mm_b_col_maj.cc
  programming_examples/basic/matrix_multiplication/common.h
  programming_examples/basic/matrix_multiplication/single_core/README.md
  programming_examples/basic/matrix_multiplication/test.cpp
  programming_examples/basic/matrix_multiplication/whole_array/Makefile
  programming_examples/basic/matrix_multiplication/whole_array/README.md
  programming_examples/basic/matrix_multiplication/whole_array/aie2.py
  programming_examples/basic/matrix_multiplication/whole_array/run_makefile_col_maj.lit
Owners: @denolf, @jgmelber, @fifield

add example with run-time-parametrized matmul
  programming_examples/basic/matrix_multiplication/rtp/Makefile
  programming_examples/basic/matrix_multiplication/rtp/aie2.py
  programming_examples/basic/matrix_multiplication/rtp/await_rtp.cc
  programming_examples/basic/matrix_multiplication/rtp/kernel.cc
  programming_examples/basic/matrix_multiplication/rtp/test.cpp
  programming_examples/basic/matrix_multiplication/rtp/util.py
  programming_examples/basic/matrix_multiplication/rtp/zero.cc
Owners: @denolf, @jgmelber, @fifield

Small typo fixes (mostly in AIEOps.td) (#1761)
  include/aie/Dialect/AIE/IR/AIEOps.td
  lib/Dialect/AIE/IR/AIEDialect.cpp
  lib/Dialect/AIE/Transforms/AIEObjectFifoStatefulTransform.cpp
  lib/Dialect/AIEX/IR/AIEXDialect.cpp
  test/dialect/AIE/roundtrip.mlir
  test/objectFifo-register-process/nd_dma_test_aie2.mlir
  test/objectFifo-stateful-transform/nd_dma_base_AIE2.mlir
  test/objectFifo-stateful-transform/nd_dma_distribute_AIE2.mlir
  test/objectFifo-stateful-transform/nd_dma_distribute_AIE2_bad.mlir
  test/objectFifo-stateful-transform/nd_dma_distribute_broadcast_AIE2.mlir
  test/objectFifo-stateful-transform/nd_dma_multiple_consumers_AIE2.mlir
  test/python/aie_ops.py
  test/python/objFifo_link.py
Owners: @AndraBisca, @stephenneuendorffer, @fifield, @makslevental, @jgmelber, @jackl-xilinx

Fix offset bug in matrix multiply cascade (#1770)
  programming_examples/basic/matrix_multiplication/cascade/aie2.py
Owners: @denolf, @jgmelber, @fifield

Update llvm to b9198a17
  utils/clone-llvm.sh
Owners: @makslevental, @jackl-xilinx, @jgmelber
